<p style="color: green"><%= notice %></p>






<h1 style="text-align:center;">All Projects</h1>

<div id="projects">
    
      <div class="row gx-4 gx-lg-5">
       <% @projects.each do |project| %>
        <div class="col-md-4 mb-5">
         <div class="card h-100">
           <div class="card-body">
            
             <h2 class="card-title"><%= render project %></h2>
                           
               <div class="card-footer"><%= link_to "Show this project", project, :class=>"btn btn-primary btn-sm" %></div>
            
           </div>
         </div>
        </div>
       <%end%> 
      </div>
    
    

