<h1>Editing feature</h1>

<%= render 'form', status: @status %>
<%= link_to 'Show', [@feature.project, @feature] ,class:"btn btn-info"%> |
<%= link_to 'Back', project_features_path(@feature.project),class:"btn btn-primary" %>
